json('variables.json')

@import 'components/button'
@import 'components/alert'
@import 'components/progressbar'


@import './scrollbar.styl'

@font-face
	font-family 'DankMono'
	src url('../assets/fonts/DankMono/Regular.otf') format('truetype')

html, body
	overflow auto
	font-family 'DankMono'
	margin 0
	padding 0
	scrollbar-width thin
	scrollbar-color rgba(40, 40, 40, .65)

.blue 
	background blue

.green 
	background green

.red 
	background red

.yellow 
	background yellow

.black 
	background black

.with
	&.blue
		&.text
			color blue

	&.white
		&.text
			color white
